.options {

    ul {

        .option {
            margin: 0 16px;
            font-size: 20px;

            position: relative;
            animation-name: topFadeOut;
            animation-duration: 3s;
        }

        .option:hover {
            color: #fff;
        }
    }
}