.background {
    height: 100%;
    width: 100%;
    background: url('./assets/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Background Blur using backdrop-filter */
